.lux1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table1_lux{
    position: absolute;
    margin-top: 55vh;
    
    width: 42vh;
    height: 28vh;
    border-radius: 8px;
    background: rgba(255,255,255,0.85);
    background-blend-mode: normal;
    box-shadow: -5px -5px 9px rgba(0,0,0,0.5),
                5px 5px 9px rgba(0,0,0,0.5);
     
    align-items: center;   
    justify-content: center;
}
.table1_lux h1{
    margin-top: 3vh;
    font-size: 3vh;
    margin-left: 18vh;
    color: rgb(109, 109, 109);
}
.table1_lux p{
    font-size: 5vh;
    margin-left: 25vh;
    margin-top: 5vh;
    color: rgb(109, 109, 109);
}
.table1_lux img{
    position: absolute;
    margin-left: 1vh;
    margin-top: 7vh;
    width: 16vh;
}
